@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dongle:wght@300;400;700&display=swap');

body {
    background-image: url(../../imgs/login/fundo2.webp);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

header {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    padding-left: 200px;
}

.text {
    font-family: 'Anton', sans-serif;
    font-family: 'Dongle', sans-serif;
    color: white;
}

.nome__empresa {
    width: 100%;
    text-align: center;
    font-size: clamp(3rem, 0.6rem + 6vw, 6rem);
    height: clamp(3rem, 0.6rem + 6vw, 6rem);
}

.slogan__empresa {
    width: clamp(10rem, 2rem + 20vw, 20rem);
    font-size: clamp(2.5rem, 0.5rem + 5vw, 5rem);
}

.text__empresa {
    font-size: 2rem;
}

.box {
    background-image: url(../../imgs/login/fundo2.webp);
    background-position: center;
    background-size: cover;
    width: 75vw;
    height: 65vh;
    gap: 60px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

.password{
    color: #fff
}

.container__forms {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.form_left {
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    grid-column: 1;
}

.form_right {
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    grid-column: 2;
}

#btn-enviar {
    display: block;
    text-align: center;
    background: orangered;
    height: 45px;
    font-size: 32px;
    width: 30%;
    border-radius: 4px;
    box-shadow: #fff;
    cursor: pointer;
    color: #fff;
}

.icon {
    position: relative;
    top: 60px;
    left: 340px;
    font-size: 25px;
    color: #fff;
}

i {
    color: #fff;
    font-size: 30px;
}

@media (max-width: 1500px) {
    .icon {
        position: relative;
        top: 60px;
        left: 230px;
        font-size: 25px;
        color: #fff;
    }
}

@media (max-width: 1200px) {
    .icon {
        position: relative;
        top: 60px;
        left: 150px;
        font-size: 25px;
        color: #fff;
    }
}



@media (max-width: 768px) {
    .container {
        align-items: flex-start;
    }

    .box {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        height: 75vh;
    }
}

@media (max-width: 640px) {
    .container {
        margin-bottom: 100px;
    }

    .box {
        height: auto;
    }

    .container__forms {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
    }

    .form_left {
        grid-column: 1;
        grid-row: 1;
    }

    .form_right {
        grid-column: 1;
        grid-row: 2;
    }

    .box {
        background: transparent;
    }
}


@media (max-width: 500px) {
    .box {
        width: 80vw;
        height: 85vh;
    }
}